.cuerpoCheckout{

    height: 100%;
    width: 100%;
    color: black
}

.tituloCheckout{
    margin-left: 50px;
    margin-top: 40px;
}

.btnCheckout{
    background-color: green;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    height: 35px;
    width: 150px;
}

.precioTotal{
    font-weight: 700;
    font-size: 25px;
}

.containerBtn{
    margin-bottom: 40px;
    margin-top: 40px;
}

.textCarritoVacio{
    text-align: center;
    margin-top: 150px;
    
}

.btnLimpiar{
    background-color: red;
}