header{
    font-weight: 700;
    color: white;
    background-image: url("https://www.xtrafondos.com/descargar.php?id=3963&resolucion=3840x2160");
    height: 380px;
    background-position: center;
        background-size: cover;
    background-repeat: no-repeat;
}

.botonNav{
    border-radius: 10%;
    border-style: none;
    font-weight: 700;
    color: white;
    background-color: rgba(219, 219, 219, 0.0);
    text-decoration: none;
}

.carrito{
    margin-right:25px;
    width: 95px;
}

.navDropBtn{
    text-decoration: none;
    color: black;
}

.linea{
    margin-left: 20px;
}

.fila{
    background-color: white;
    background: rgba(219, 219, 219, 0.3);
    height: 40px;
    
}

.esferaDragon{
    height: 50px;
}



.titulo img{
    height: 70px;
    margin-right: 30px;
}

.seccionTitulo{
    margin-top: 60px;
    text-align: center;
}

.textoSeccionTitulo{
    margin-top: 10px;
}

h2{
    font-weight: 700;
}

.btnComprar{
    background-color: #FD8F00;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    width: 92px;
    height: 35px;
    margin-top: 10px;
}

.seccionTitulo h1{
    font-size: 3em;
    font-weight: 700;
    margin-left: -60px;
}

@media only screen and (min-width: 768px) {
    header{
        height: 450px;
    }

    .seccionTitulo{
        margin-top: 60px;
    }

    .btnComprar{
        margin-top: 20px;
    }

    .textoSeccionTitulo{
        margin-top: 20px;
    }
}