.botonNav{
    border-radius: 10%;
    border-style: none;
    font-weight: 700;
    color: white;
    background-color: rgba(219, 219, 219, 0.0);
    text-decoration: none;
}


.navDropBtn{
    text-decoration: none;
    color: black;
}

.linea{
    margin-left: 20px;
}

.fila{
    background-color: #35393E;
    height: 40px;
    color: white;
    font-weight: 700;
}